@font-face {
    font-family: myFont1;
    src: url(BeautifulPeopletwoPersonalUse.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(BeautifulPeoplePersonalUse.ttf)
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:link,
a:visited {
    color: #33658a;
}

.container {
    display: grid;
    grid-template-areas:
        'header header header'
        'menu main main'
        'menu main main';
    grid-gap: 2px;
}

.MyHeader {
    grid-area: header;
    text-align: center;
    font-size: 1.5vw;
}

#MyPic {
    width: 150px;
    border-radius: 50px;
}

#MyName {
    font-family: myFont1;
    color: darkslategray;
    font-size: 3.5vw;
    letter-spacing: 4px;
}

.specs {
    border-left: 4px solid gray;
    border-right: 4px solid gray;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

#emailImg {
    padding-right: 8px;
}

#github {
    border-right: none;
}

.MyMenu {
    grid-area: menu;
    margin-left: 2vw;
    text-align: center;
    font-family: 'myFont1', sans-serif;
    font-size: 1.4vw;
}

.circleLeft {
    margin-right: 3vw;
}

.circleRight {
    margin-left: 3vw;
}

.menuItems1 {
    font-size: 1.2vw;
    background-color: #33658a;
    color: #ffffff;
    padding: 6px;
    border-radius: 10px;
}

.menuItems2 {
    font-weight: bold;
    font-size: 1.3vw;
    width: 100%;
}

.menuItems3 {

    font-size: 1.3vw;
    font-weight: normal;
    text-align: left;
}

.more {
    word-spacing: 0.5vw;
}

.menuItems4 {

    font-weight: bold;
    text-align: left;
    font-size: 1.3vw;
    width: 100%;
}

.university {
    color: rgb(0, 143, 209);
    font-weight: bold;
}

.MyMain {
    grid-area: main;
}

.fas {
    margin-right: 2vw;
    color: #33658a;
}

/*this is a class for profile and work experience*/
.mainProfile {
    font-size: 1.5vw;
    border-left: 4px solid gray;
    padding: 3vw;
    margin-bottom: 8px;
    margin-top: 8px;
}

#header {
    font-weight: bold;
}

#profile {
    text-align: justify;
    word-spacing: -1px;
    line-height: 2vw;
    text-indent: 20px;

}

.date {
    padding-left: 18px;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
    color: grey;
}

.jobTitle {
    font-size: 1.7vw;
}

.Companies {
    color: rgb(0, 143, 209);
}