.total {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color:seashell ;
    }
    
	
   	body {
    background-color:darksalmon;
	 margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 90px;}