@font-face {
    font-family: myFont1;
    src: url(BeautifulPeopletwoPersonalUse.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(BeautifulPeoplePersonalUse.ttf)
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    grid-area: header
}

.main {
    grid-area: main
}


.container {
    display: grid;
    grid-template-areas:
        'header header header header'
        'menu main main main'
        'menu main main main'
        'menu main main main'
        'menu footer footer footer';
    grid-gap: 50px;
    padding: 2px;

}

#MyPic {
    width: 150px;
    border-radius: 50px;
    margin-top: 4vw;
}

#CV-Header {
    text-align: center;

}

#MyName {
    font-family: myFont1;
    color: darkslategray;
    font-size: 3.5vw;
    letter-spacing: 4px;
}

#MyProfile {
    margin-top: 2%;
    font-size: 2vw;
}

#address {
    border-left: 4px solid gray;
    border-right: 4px solid gray;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

#skills {
    text-align: center;
    font-family: 'myFont1', sans-serif;
    font-size: 2.5vw;
    letter-spacing: 4px;
}

.left {
    margin-right: 3vw;
}

.right {
    margin-left: 3vw;
}

.menuItems {
    font-family: fantasy, Courier, monospace;
    font-size: 2vw;
    text-align: center;

}

.myProgress {
    width: 100%;
    background-color: gray;
    border-radius: 5px;
}

.myBar {
    background-color: black;
    height: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Csharp {
    width: 40%;
}

.VB {
    width: 30%;
}

.HtmlCss {
    width: 20%;
}

.SqlServer {
    width: 20%;
}

.fas {
    margin-right: 2vw
}

#myProfile {
    width: 80%;
    font-size: 3vw;
    padding: 2vw;
}

#profile{
    border-left: 4px solid gray;
}